<li>
  <div id="user">
    <%= link_to "#{user.first_name} #{user.last_name}", user_path(user.id) %>
  </div>
    
  <% if !@friends.nil? && !@friends.include?(user) %>
    <%= form_tag friendships_add_path do %>
      <div id="add_friend">
        <%= hidden_field_tag(:friend_id, user.id) %>
        <%= button_tag("add") %>
      </div>
    <% end %>
  <% end %>
</li>