<% provide(:title, "All Users") %>

<div id="center_column">
  <h1>All Users</h1>

  <% @users = @users.paginate(:page => 1, :per_page => 10) %>

  <span class="users_list">
    <%= will_paginate @users %>
  </span>

  <ul class="users">
    <%= render @users %>
  </ul>

  <span class="users_list">
    <%= will_paginate @users %>
  </span>
</div>