html, body { 
  padding: 0;
  margin: 0;
  border: 0;
  font-family: Tahoma;
  background-color: #E9EBEE;
  height: 100%;
  width: 100%;
}

#flash {
  position: absolute;
  left: 405px;
  top: 80px;
}

#right_menu {
  float: right;
  display: table-row;
  padding: 0;
  margin: 0;
  left: 800px;
  height: 42px;
  width: 280px;
  list-style-type: none;
}

#right_menu .right_options {
  display: table-cell;
  height: 42px;
  vertical-align: middle;
}

#right_menu .dropdown {
  display: table-cell;
  height: 42px;
  vertical-align: middle;
}

#right_menu .right_options a {
  vertical-align: middle;
  height: 21px;
}

#right_menu img {
  height: 40px;
}

#right_menu #gravatar_wrapper {
  margin-right: 10px;
  text-align: center;
  font-weight: bold;
  line-height: 27px;
}

#right_menu #gravatar_wrapper #user_name {
  margin-left: 3px;
}

#home_button img {
  vertical-align: middle;
  height: 27px;
  width: 27px;
  border-radius: 100%;
  margin: 0;
}