body {
  margin: 0;
  font-family: Tahoma;
}

#navbar {
  display: inline-block;
  background-color: #3b5998;
  position: fixed;
  height: 70px;
  top: 0;
  left: 0;
  right: 0;
}

#navbar_container_left {
  position: absolute;
  display: block;
  width: 70%;
  padding: 10px;
  color: white;
}

#navbar_container_left a {
  display: inline-block;
  color: white;
}

#searchbar .button {
  background-color: #4267b2;
  color: white;
  border-radius: 3px;
  border: 1px solid #29487d;
}

#notifications {
  position: absolute;
  left: 50%;
  bottom: 50%;
}

 /* Dropdown Button */
.dropbtn {
  position: absolute;
  background-color: #3b5998;
  font-size: 16px;
  border: none;
  cursor: pointer;
  padding: 1px 5.5px;
}

.dropbtn:focus {
  outline: thin solid rgb(193, 193, 193);
}

/* Dropdown button on hover & focus */
.dropbtn:hover > div {
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 0.3;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  display: inline-block;
  position: absolute;
  top: 15%;
  right: 3%;
  width: 86.99px;
  height: 52.66px;
}

.dropdown img {
  width: 75px;
  height: auto;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  right: 0px;
  width: 402px;
  max-height: 503px;
  background-color: rgb(255, 255, 255);
  border: thin solid rgb(193, 193, 193);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content ul li div {
  margin: 0 15px 0;  
}

.dropdown-content ul {
  padding: 0;
  list-style-type: none;
  margin: auto;
}

/* Items inside the dropdown */
.dropdown-content li {
  display: flex;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  border-top: thin solid rgb(193, 193, 193);
  border-right: none;
  border-bottom: none;
  border-left: none;
  font-size: 10pt;
}

.dropdown-content #fr_heading {
  display: flex;
  background-color: rgb(246, 247, 249);
  color: gray;
  height: 16px;
  padding: 7px 16px;
  font-size: 10pt;
}

.dropdown-content #likes_heading {
  display: flex;
  background-color: rgb(246, 247, 249);
  color: gray;
  border-top: thin solid rgb(193, 193, 193);
  height: 16px;
  padding: 7px 16px;
  font-size: 10pt;
}

.dropdown-content input.accept {
  background-color: #4267b2;
  color: white;
  border: none;
  border-radius: 3px;
}

.dropdown-content a.button {
  background-color: #f6f7f9;
  color: black;
  text-decoration: none;
  border: thin solid #ced0d4;
  border-radius: 3px;
  width: 40.742px;
  height: 14.534px;
}

/* #d3d6db user for subheadings */

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;} 