body {
  margin: 0;
}

#navbar {
  display: inline-block;
  background-color: #3b5998;
  position: fixed;
  height: 70px;
  top: 0;
  left: 0;
  right: 0;
}

#navbar_container_left {
  display: block;
  margin: auto;
  padding: 10px;
  color: white;
}

#navbar_container_left a {
  color: white;
}

.button {
  background-color: #4267b2;
  color: white;
  border-radius: 3px;
  border: 1px solid #29487d;
}

#friend_requests {
  float: right;
}

#notifications {
  position: absolute;
  left: 50%;
  bottom: 50%;
}