#navbar {
  height: 82px;
  background-color: #3b5998;
  position: fixed;
  display: inline-block;
  top: 0;
  left: 0;
  right: 0;
  color: white;
  border-bottom: thin solid #29487D;
  font-size: 12.5px;
  padding-left: 5%;
  z-index: 1;
}

#navbar #logo {
  width: 190px;
  margin-top: 10px;
  margin-left: 55px;
}

.spacer {
  height: 82px;
}

#log_in {
  float: right;
  display: block;
  margin-right: 180px;
  margin-top: auto;
}

#log_in input, label {
  margin-left: 10px;
}

#log_in table {
  border-collapse: seperate;
}

#log_in #labels td {
  font-size: 12px;
}

#log_in tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
  border-collapse: separate;
}

#log_in tr {
  display: table-row;
}

#log_in #fields {
  position: absolute;
  display: inline-block;
  right: 100px;
}

#log_in #user_email, #log_in #user_password {
  height: 19px;
  border: thin solid #1d2a5b;
  background-color: rgb(250, 255, 189);
}

#log_in #log_in_button input {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  text-align: center;
  background-color: #4267b2;
  color: white;
  border-radius: 3px;
  border: thin solid #29487D;
  bottom: 1px;
}

#log_in #remember_me {
  display: inline-block;
  margin-top: 4px;
  margin-left: 30px;
  color: white;
}

#log_in .remember_me_label {
  display: block;
  margin-right: 10px;
}

.flash {
  position: absolute;
  left: 785px !important;
  top: 90px !important;
}

p {
  display: inline-block;
  width: 400px;
  margin-left: 180px;
  margin-top: 0;
  text-align: justify;
}

#headline {
  display: inline-block;
  height: 100px;
  width: 100%;
}

#headline #right {
  float: right;
}

#headline #left {
  margin-left: 180px;
}

h2 {
  display: inline-block;
  margin-right: 180px;
  margin-bottom: 0;
  font-size: 38px;
  font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif !important;
  font-weight: bold !important;
  letter-spacing: normal;
  text-rendering: optimizelegibility;
}

#facebook_login {
  font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif !important;
  font-weight: bold !important;
  letter-spacing: normal;
  text-rendering: optimizelegibility;
  width: 194px;
  min-height: 23.5px;
  padding: 7px 0px;
  text-align: center;
  background-color: #4267b2;
  box-shadow: inset 0 1px 1px #29487D;
  border-color: #29487D;
  border: 1px solid;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  display: inline-block;
  letter-spacing: 1px;
  position: relative;
  text-shadow: 0 1px 2px rgba(0,0,0,.5);
  font-size: 19px;
  font: 400 13.3333px Arial;
  margin-top: 10px;
  margin-bottom: 10px;
}

#facebook_login a {
  width: 100%;
  margin: 0;
  text-decoration: none;
  color: #fff;
  line-height: 23.5px;
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

  #navbar {
    height: 132px;
    padding-left: 0;
  }

  #logo {
    display: none;
  }

  #log_in {
    float: none;
    margin: auto;
    width: 95%;
  }

  ul {
    padding: 0;
  }

  #log_in #labels td {
    font-size: 25px;
  }

  #log_in #user_email {
    height: 50px;
    width: 271px;
    font-size: 25px;
  }

  #log_in #user_password {
    height: 50px;
    width: 271px;
    font-size: 25px;
  }

  #log_in #log_in_button input {
    height: 58px;
    width: 110px;
    font-size: 20px;
  }

  #log_in #remember_me input {
    height: 50px;
    width: 50px;
  }
}