h1 {
  position: relative;
  top: 70px;
  margin: 0 auto;
  margin-bottom: 40px;
  font-size: 36px;
  width: 600px;
}

h2 {
  float: left;
  position: relative;
  display: inline !important;
  top: 30px;
  width: 600px;
  margin: 40px auto;
  text-align: left;
  font-size: 28px !important;
  vertical-align: bottom;
  line-height: 70px;
}

p {
  float: left;
  top: 30px;
  display: block !important;
  left: 0 !important;
  right: 0 !important;
  width: 640px !important;
  background-color: white;
  font-size: 19px !important;
  border: thin solid rgb(193, 193, 193);
  border-radius: 3px;
  padding: 20px;
  margin-bottom: 10px !important;
}

#left_about {
  position: absolute;
  left: 100px;
}