h1 {
  position: relative;
  top: 70px;
  margin: 0 auto;
  margin-bottom: 40px;
  font-size: 36px;
  width: 600px;
}

h2 {
  position: relative;
  display: block !important;
  top: 30px;
  width: 657px;
  margin: 40px auto;
  font-size: 28px !important;
  line-height: 70px;
}

p {
  top: 30px;
  display: block !important;
  left: 0 !important;
  right: 0 !important;
  width: 657px !important;
  background-color: white;
  font-size: 17px !important;
  border: thin solid rgb(193, 193, 193);
  border-radius: 3px;
  padding: 20px;
  margin: 0 auto;
  margin-bottom: 10px !important;
}

#left_about img {
  margin-top: 30px;
}

#left_about {
  width: 658px;
  margin: 0 auto;
}