#user_profile {
  position: absolute;
  top: 60%;
  left: 50%;
  padding: 400px;
  transform: translate(-60%, -50%);
}

.gravatar {
  position: absolute;
  height: 250px;
  width: 250px;
  bottom: 50%;
}

#display_name {
  position: absolute;
  top: 50%;
  font-size: 49px;
}

#post_field {
  position: absolute;
  top: 60%;
}

#delete_link {
  position: absolute;
  top: 57%;
}