#user_profile {
  position: absolute;
  display: block;
  text-align: center;
  height: 500px;
  width: 350px;
  top: 60%;
  left: 20%;
  transform: translate(-60%, -50%);
}

.gravatar {
  display: block;
  position: absolute;
  height: 200px;
  width: 200px;
  padding: 30px 50px;
  bottom: 45%;
}

#display_name {
  display: block;
  position: absolute;
  text-align: center;
  width: 200px;
  height: 80px;
  margin: auto;
  left: 7%;
  font-size: 30px;
}

#profile_options {
  display: block;
  position: absolute;
  width: 350px;
  top: 50%;
  right: 15%;
}

#profile_options ul li {
  display: inline;
}

#center {
  position: absolute;
  display: block;
  height: 100%;
  width: 500px;
  top: 20%;
  left: 35%;
}

#center #top_bar {
  display: flex;
  background-color: rgb(246, 247, 249);
  color: gray;
  border-left: thin solid rgb(193, 193, 193);
  border-top: thin solid rgb(193, 193, 193);
  border-right: thin solid rgb(193, 193, 193);
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  height: 16px;
  padding: 7px 16px;
  font-size: 10pt;
}

#new_post {
  position: absolute;
  display: block;
  width: 100%;
  height: 280px;
  margin: auto;
}

#post_field textarea {
  position: relative;
  display: block;
  border: thin solid rgb(193, 193, 193);
  width: 82%;
  height: 107px;
  resize: none;
  padding-top: 20px;
  padding-right: 58px;
  padding-bottom: 13px;
  padding-left: 30px;
}

#post_field textarea:focus {
  outline: none;
  border: thin solid #3b5998;
}

#post_field:focus {
  border: medium solid rgb(193, 193, 193);
}

#post_field #bottom_bar {
  display: flex;
  background-color: rgb(246, 247, 249);
  color: gray;
  border-left: thin solid rgb(193, 193, 193);
  border-bottom: thin solid rgb(193, 193, 193);
  border-right: thin solid rgb(193, 193, 193);
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  height: 24px;
  padding: 7px 16px;
  font-size: 10pt;
}

#post_field .button {
  position: absolute;
  display: block;
  margin: auto;
  width: 60px;
  height: 24px;
  background-color: #4267b2;
  color: white;
  border-radius: 3px;
  border: none;
  right: 1.9%;
}

#wall {
  position: absolute;
  top: 50%;
  width: 100%;
  background-color: white;
  border: thin solid rgb(193, 193, 193);
  border-radius: 3px;
}