.user_post {
  margin-top: 12px;
  width: 100%;
  background-color: white;
  border: thin solid rgb(193, 193, 193);
  border-radius: 3px;
  overflow: auto;
  overflow-x: hidden;
}

.user_post .user_text {
  float: left;
  display: inline-block;
  padding-left: 2%;
  padding-right: 2%;
  word-break: break-word;
}

.user_post .post_likes {
  position: flex;
  float: left;
  display: inline-block;
  margin: 10px;
  margin-right: 89%;
  overflow: hidden;
  white-space: nowrap;
  overflow-x: hidden;
}

#users_who_liked {
  display: none;
}
    
a:hover + #users_who_liked {
  display: block;
}

a:hover + #users_who_liked ul {
  list-style-type: none;
  padding-left: 0;
}

#friends_post #like {
  float: left;
  margin: 5px;
  margin-left: 10px;
  height: 32px;
  width: 80px;
  top: 270px;
  background-color: #4267b2;
  color: white;
  border: none;
  border-radius: 10px;
  visibility: visible;
}

#friends_post .comment_button {
  float: left;
  margin: 5px;
  left: 100px;
  margin-left: 10px;
  margin-bottom: 13px;
  bottom: 8px;
  height: 32px;
  width: 80px;
  background-color: #4267b2;
  color: white;
  border: none;
  border-radius: 10px;
  visibility: visible;
}

#friends_post #CommentBoxDiv2 {
  position: relative;
  padding-top: 4%;
  padding-bottom: 2%;
  padding-left: 2%;
  width: 100%;
  float: left;
  height: 50px;
  background-color: #F6F7F9;
  border-top: thin solid rgb(193, 193, 193);
}

#friends_post #CommentBoxDiv2 #comment_field {
  position: relative;
  margin-left: 2%;
  margin-right: 20%;
  margin-bottom: 2%;
  height: 40%;
  width: 80%;
  float: left;
  border-radius: 10px;
  border: thin solid rgb(193, 193, 193);
}

#friends_post #CommentBoxDiv2 .comment_buttons {
  position: relative;
  margin-left: 2%;
  float: left;
  background-color: #4267b2;
  color: white;
  border-radius: 10px;
  border: none;
  font-size: 80%;
}

.user_post .gravatar {
  position: relative;
  display: inline-block;
  top: 0px;
  height: 40px;
  width: 40px;
  margin-top: 12px;
  margin-left: 12px;
  border-radius: 100%;
}

.user_post form {
  position: relative;
}

.user_post .poster_name {
  position: relative;
  display: inline;
  bottom: 24px;
  height: 16px;
}

.user_post .poster_name a {
  color: #365899;
  font-size: 87%;
  font-weight: bold;
  text-decoration: none;
}

#post_comments {
  margin-bottom: 12px;
  border-collapse: separate; 
  border-radius-bottom: 3px;
}

#user_comment {
  margin-top: 0;
  border-top: none;
  border-radius: 0px;
  border-collapse: separate; 
  background-color: #F6F7F9;
}

#user_comment #commenter_name {
  position: relative;
  display: inline;
  margin-top: 1%;
  bottom: 24px;
  height: 16px;
  font-size: 87%;
  font-weight: bold;
  color: #365899;
}

#user_comment #commenter_name a {
  text-decoration: none;
}

#user_comment .user_text {
  padding-left: 3%;
}